# Motor de Inferencia y Vectorización
torch>=2.0.0
sentence-transformers>=2.2.2
faiss-cpu>=1.7.4
numpy>=1.24.0

# Procesamiento de Lenguaje y Extracción (Fase 1 y 2)
pandas>=2.0.0
spacy>=3.5.0
pytesseract>=0.3.10
beautifulsoup4>=4.12.0